@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
  font-family: "Poppins",sans-serif;
} 

/* set a wider default column width */
:root {
  --sl-content-width: 50rem;
}

/* improve headings */
main h1 { font-size: 2rem;}
main h2 { font-size: 1.8rem;}
main h3 { font-size: 1.6rem;}
main h4 { font-size: 1.4rem;}
main h5 { font-size: 1.2rem;}
main h6 { font-size: 1rem;}

.devlog-video {
  width: 640px;
  height: 360px;
  max-width: 100%;
}

.devlog-image {
  width: 640px;
  height: auto;
  max-width: 100%;
}